{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Dholera Metro City 5005
{% endblock title %}

{% block content %}
<div class="">

  <img width="100%" src="{% static 'projects\5005\DMC-5005_live_bookinng_status.jpg' %}" alt="">
</div>
<section style="background-color: rgb(249, 243, 236);" class="">




  <div class="py-3 px-10">

    <div class="grid text-center py-3 align-middle  justify-center items-center">
      <a href="{% url 'PhotoGallery:photo-gallery-Dholera-Metro-City' %}">
        <img class="rounded-xl border shadow-xl " src="{% static 'projects\5005\Dholera_Metro_City-5005_Main.jpg' %}" alt="">
      </a>


      <div class="mt-4">
        <img width="100%" src="{% static 'projects\5006\step-1.jpg' %}" alt="">
      </div>

      <div class="mt-4 text-xl font-semibold text-blue-700 text-center">
        <h1>Welcome to Dholera SIR.</h1>
        <h1>
          Preferred Destination for the Next Generation of Industries.
        </h1>

        <h1>
          Residential township-"Dholera Metro City-5005" at Dholera SIR in DMIC corridor</h1>

        <h1>
          Promoted by:- M/s. Dholera Metro City Group
        </h1>
      </div>

      <h1 style="background-color: purple;" class="mt-6  p-4 text-white font-semibold">Best Residential Plotting Schemes at Dholera SIR in DMIC corridor</h1>

      <div style="background-color: rgb(165, 208, 225); padding: 1.7rem;" class="mt-6 bg-sky-500">
        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-4">


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="font-semibold">
                Lowest Down Payment.

              </h1>
            </div>
          </div>

          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class=" text-left font-semibold">
                Legally Approved & Completely Documented Project

              </h1>
            </div>
          </div>


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                Maximum EMI.

              </h1>
            </div>
          </div>


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class=" text-left font-semibold">
                EMI without documents

              </h1>
            </div>
          </div>

          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                NA, NOC, Title Clear Plots.

              </h1>
            </div>
          </div>


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                Minimum Down Payment & Very easy EMI's Schemes.

              </h1>
            </div>
          </div>


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                Immediate Sale Deed Registration.

              </h1>
            </div>
          </div>


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                N.A, N.O.C. Title Clear Land.

              </h1>
            </div>
          </div>


          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                100% Transparent Policies.

              </h1>
            </div>
          </div>



          <div class=" flex items-center flex-row  gap-3">

            <img style="width: auto; height: 1.2rem;" src="{% static 'next.png' %}" alt="">

            <div>

              <h1 class="text-left font-semibold">
                Prime & Strategic Location.

              </h1>
            </div>
          </div>





        </div>


      </div>


      <div class="flex justify-center items-center mt-3">
        <img width="100%" src="{% static 'projects\5005\arial-view-layout-plan-dholera-metrocity-5005.jpg' %}" alt="">
      </div>

      <div class="flex justify-center items-center mt-3">
        <img width="100%" src="{% static 'projects\5005\layout-plan-dholera-metro-city-5005.jpg' %}" alt="">
      </div>


     

      <div class="mt-4">
        <img width="100%" src="{% static 'projects\5006\step-2.jpg' %}" alt="">
      </div>

      <div class="mt-3">
        <img width="100%" src="{% static 'projects\5006\offer-heading.gif' %}" alt="">

      </div>

      <div class="mt-4 text-2xl font-semibold  text-center">
        <h1>
            Take a fast decision to Select Next Five Preferred location Vacant Plot
<br><br>
Plot No. 77, 165, 213, 300, 428
        </h1>
      </div>

      <div class="mt-3">
        <img width="100%" src="{% static 'projects\5005\DMC-5005-Layout-Blank.jpg' %}" alt="">

      </div>
      <div class="mt-3">
        <img width="100%" src="{% static 'projects\5005\DMC-5005-Layout-Blank-2.jpg' %}" alt="">

      </div>


      <div class="mt-4">
        <style>
          #table1 td {
            padding: 5px;
            border-radius: 0.2rem;
            padding: 3px 5px;
          }
        </style>
        <table id="table1" style="width: 100%;" border="2" class=" max-sm:text-xs border-separate border-spacing-[1rem] font-semibold text-black  table-auto">

          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Ploat Area</td>

            <td style="background-color: rgb(255, 255, 0);">100</td>

            <td style="background-color: rgb(255, 255, 0);">
              sq.yard
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              900
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              sq. feet
            </td>
          </tr>

          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Price</td>

            <td style="background-color: rgb(255, 255, 0);">7962</td>

            <td style="background-color: rgb(255, 255, 0);">
              per sq.yard
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              884
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              per sq. feet
            </td>
          </tr>


          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Total Payment</td>

            <td style="background-color: rgb(255, 255, 0);">796200</td>

            <td style="background-color: rgb(255, 255, 0);">
              Rs.
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                796200
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              Rs.
            </td>
          </tr>


          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">25% Down Payment</td>

            <td style="background-color: rgb(255, 255, 0);">199050</td>

            <td style="background-color: rgb(255, 255, 0);">
              Rs.
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                199050
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              Rs.
            </td>
          </tr>

          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Rest Amount</td>

            <td style="background-color: rgb(255, 255, 0);">Total Rs.</td>

            <td style="background-color: rgb(255, 255, 0);">
              Installment Rs. Per month
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              Total Rs.
            </td>

            <td style="background-color: rgb(51, 153, 51);">

              Installment Rs. Per month
            </td>
          </tr>


          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Within 3 Month</td>

            <td style="background-color: rgb(255, 255, 0);">597150</td>

            <td style="background-color: rgb(255, 255, 0);">
              -
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                597150
            </td>

            <td style="background-color: rgb(51, 153, 51);">
              -
            </td>
          </tr>


          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Within 12 Month</td>

            <td style="background-color: rgb(255, 255, 0);">643397</td>

            <td style="background-color: rgb(255, 255, 0);">
                53616
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                643397
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                53616
            </td>
          </tr>

          <tr class="border-3 border-solid">
            <td style="background-color: rgb(102, 102, 0);">Within 24 Month</td>

            <td style="background-color: rgb(255, 255, 0);">688101</td>

            <td style="background-color: rgb(255, 255, 0);">
                28671
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                688101
            </td>

            <td style="background-color: rgb(51, 153, 51);">
                28671
            </td>
          </tr>

        </table>
      </div>


      <div class="mt-4 text-xl font-semibold text-blue-700 text-center">

        If you want to take advantage of this once in a life time opportunity at the lowest price & best <br>
        location advantage for high return on your investment. We suggest you to act fast.

      </div>

      <div class="mt-3">

        <img width="100%" src="{% static 'projects\5006\step-4.gif' %}" alt="">


      </div>

      <div class="mt-3">

        <img width="100%" src="{% static 'projects\5006\reality.jpg' %}" alt="">


      </div>

      <div class="mt-3">

        <img width="100%" src="{% static 'projects\5006\5006_qr-payment.jpg' %}" alt="">


      </div>

      <div class="flex justify-center items-center mt-8">
        <img width="10%" src="{% static 'projects\5006\or.png' %}" alt="">
      </div>


      <div class="mt-4 text-2xl font-semibold text-red-600 text-center">

        Pay Online with Following Details

      </div>

      <div class="mt-4">
        <img width="100%" src="{% static 'projects\5006\Bank-1.jpg' %}" alt="">
      </div>

      <div class="flex flex-row gap-6 items-center justify-center mt-4">

        <div class="flex items-center justify-center">
          <img src="{% static 'projects\5006\axis-logo.jpg' %}" alt="">
        </div>


        <div class="flex flex-col ">

      
        <h1 style="color: rgb(122, 122, 0);" class="text-xl font-extrabold ">	DHOLERA SIR INFRA DEVELOPMENT</h1>

        <h1 class="text-center mt-3 text-base font-semibold text-black">

          Current Bank A/C No.: 920020062474684 <br>

          IFSC Code : UTIB0000448 GANDHINAGAR, <br> BRANCH, GUJARAT.
        </h1>
      </div>
      </div>

      <div class="mt-4">
        <img width="100%" src="{% static 'projects\5006\Bank-2.jpg' %}" alt="">


      </div>


      <div class="mt-3">

<h1 class="font-semibold text-base ">
  1. FOR FURTHER CREDIT TO <br>
SB/CA/EEFC A/C NO.920020062474684  <br>
M/s. "DHOLERA SIR INFRA DEVELOPMENT" <br>
WITH AXIS BANK LTD., GANDHINAGAR BRANCH <br>
(SWIFT CODE : AXISINBB003)
</h1>

      </div>



    </div>

</section>

{% endblock content %}