{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Career | Dholera Metro City Group
{% endblock title %}



{% block content %}
    

<div>
    <div>
      <img id="myImage" class="w-full h-auto max-sm:h-36" src="" alt="">
    </div>
    <script>
      function changeImage() {
        var image = document.getElementById("myImage");
        if (window.innerWidth < 700) {
          image.src = "{% static 'images\Career\caeer_header_m.jpg' %}"; // Replace with the path to the new image
        } else {
          image.src = "{% static 'images\Career\caeer_header.jpg' %}"; // Replace with the original image path
        }
      }
  
      window.addEventListener("load", changeImage);
      window.addEventListener("resize", changeImage);
    </script>



    <section class="mt-5 px-10 left-7">



<div class="firsttext">

  <h1 class="text-2xl font-semibold">Join Our Team of growth, learning, and innovation</h1>
  <p class="mt-4">
   <img class="float-left m-[10px] w-[20rem]" src="{% static 'images\Career\career_2.jpg' %}">Welcome to the career page of Dholera Metro City Group, where your professional journey begins. If you are driven by innovation, passionate about making a difference, and thrive in a dynamic and collaborative environment, you've come to the right place. We are a leading company in our industry, dedicated to pushing boundaries and transforming the way things are done.<br><br>
  At Dholera Metro City Group, we believe that our employees are our greatest asset. We value diversity, creativity, and a shared commitment to excellence. Join our team of innovators and achievers who are shaping the future and making a positive impact on the world.</p>
  <div class="clear"></div>

<div class="md:mt-[10rem] mt-[4rem]">
  <h2 class="text-2xl font-bold text-purple-900">Why Join Dholera Metro City Group?</h2>
  <br>

  <style>
    table th{
      
      padding: 10px;
    }
  </style>

  <table width="100%" class="  border border-solid border-separate ">
    <tr >
      <th class="bg-gray-500 text-white">Exciting Opportunities</th>
      <th class="bg-gray-500 text-white">Collaborative Environment</th>
    </tr>
    <tr>
      <th>Impactful Work</th>
      <th>Work-Life Balance</th>
    </tr>
    
  </table>
</div>

  
  
  <div class="clear"></div>
  <h2 class="text-2xl font-bold text-purple-900 mt-5">Join Our Team | We are hiring</h2>
  Are you ready to take the next step in your career and be part of a company that is shaping the future? Browse our current job openings below and find the perfect opportunity that matches your skills and aspirations.
  
  <h2  class="text-2xl font-bold text-purple-900 my-5">Job Openings</h2>
  <b style="font-size: 22px; color: #0A6EBD"><a href="#account">1. Senior Accountant</a></b><br>
  <b style="font-size: 22px; color: #0A6EBD"><a href="#bdm">2. Business development Manager</a></b><br><br><hr>
  
   <b style="font-size: 20px; color: #0A6EBD" id="account">1. Senior Accountant: - 1 Post</b><br>
  
              <b>Responsibilities include :-</b><br>
  • Verifying, allocating, posting, and reconciling accounts payable and receivable<br>
  • Producing error-free accounting reports and presenting their results<br>
  • Analyze financial information and provide concise summaries of financial <br><br>
  
  
      <b>Job brief :-</b><br>
  
  <b>Responsibilities: -</b><br>
  We are seeking an experienced Senior Accountant to oversee our general accounting operations by diligently controlling and verifying our financial transactions. <br><br>
  Senior Accountant responsibilities include reconciling account balances and bank statements, maintaining the general ledger, and preparing month-end close procedures. Additionally, the Senior Accountant must ensure accuracy and effectiveness in all accounting tasks.
  <br><br><br>
  
  
  <b>Responsibilities: -</b><br>
  • Verify, allocate, post, and reconcile accounts payable and receivable<br>
  • Produce error-free accounting reports and present their results<br>
  • Analyse financial information and summarize financial status<br>
  • Spot errors and suggest ways to improve efficiency and spending<br>
  • Review and recommend modifications to accounting systems and procedures<br>
  • Manage accounting assistants and bookkeepers<br>
  • Participate in financial standards setting and in the forecast process<br>
  • Provide input into the department’s goal-setting process<br>
  • Prepare financial statements and produce budget according to schedule<br>
  • Assist with tax audits and tax returns<br>
  • Plan, assign and review staff’s work<br>
  • Support month-end and year-end close process
  <br><br>
  
  <b>Requirements and skills: -</b><br>
  • Proven experience as a Financial Controller, Accounting Supervisor, chief or senior accountant<br>
  • Thorough knowledge of basic accounting procedures<br>
  • Awareness of business trends<br>
  • Familiarity with financial accounting statements<br>
  • Experience with general ledger functions and the month-end/year-end close process<br>
  • Hands-on experience with accounting software packages, like Tally, ERP etc.<br>
  • Advanced MS Excel skills including VLOOKUP’s and pivot tables<br>
  • Accuracy and attention to detail<br>
  • Aptitude for numbers and quantitative skills<br>
  • Bachelor’s degree in Commerce/Accounting, Finance, or relevant<br>
  • Relevant certification (e.g. CMA or CPA) will be preferred<br><br>
  
  <b>Salary and Timing: -</b><br>
  • Probable Rs 25000/- (Salary is no bar to the right candidate)<br>
  • Timing: - 10:00 to 6:00, W.Off: - Every Tuesday<br>
  • Location: - Sector 8, Gandhinagar<br><br>
  
  Don't miss this opportunity! Apply now as a Senior Accountant in our Firm and unlock your potential in the real estate industry.
  </p>
   <br><br>      
  <hr>
     
   <b style="font-size: 20px; color: #0A6EBD" id="bdm">2. Business development Manager</b><br>
  <b>Facility and Perks: -</b><br>
  • Business Development Manager is responsible for closing the deal on Call, seating at the Gandhinagar office.<br>
  • There is no cold calling, Business Development Manager needs to call all the inquiries submitted on the company's website.<br>
  • Business Development Manager will be trained for the First 7 Days by the company's Trainer.<br>
  • Business Development Manager will be trained for live calling on the floor for the second 7 days.<br>
  • Business Development manager will be assisted by <br>
  1. Leaders on the floor, <br>
  2. Presentation team Leader and <br>
  3. Site visit executives to close deals.<br>
  • Business Development manager will be given the facility of an Internet-connected Computer desk, Unlimited Calling.<br>
  • Business Development manager will be given the facility of Auto email marketing, Auto WhatsApp marketing, and Auto SMS marketing for lead nurturing.<br>
  • Business Development manager will be given the facility of a Complete Automated CRM system connected to the website and lead nurturing systems in mobile as well as PC.<br>
  • Business Development manager will be given the facility of the phone with SIM Card.<br>
  • 200+ website leads are provided every month to close just 4 deals in a month.<br>
  • Business Development managers can earn up to 2.75% as an incentive or 10.00% as an associate bonus of the property value.<br>
  
  • The business Development Manager will be given the facility of an SUV car with a driver for official visits.<br>
  
  • All the expenses of refreshments during an official visit for Investors as well as the Business Development Manager will be borne by the company itself.<br><br>
  • Salary: - 10K -20K (There is no bar for a good candidate)<br>
  • Plus, Incentive<br>
  • Plus, Associate Bonus<br>
  • Timing: - 10:00 to 6:00<br>
  • W. Off: - Every Tuesday<br>
  • Location: - Sector 8, Gandhinagar<br><br>
  
  
  <b>Responsibilities: -</b><br>
  • Answering phones and explaining the product and services offered by the company.<br>
  • Contacting existing customers as well as prospective customers using scripts.<br>
  • Obtaining customer information and other relevant data.<br>
  • Asking questions to the customer and understanding their specifications.<br>
  • Resolving queries and issues related to the products and services.<br>
  • Making recordings of all the sales phone calls and sales deals.<br>
  • Taking and processing orders in a professional manner.<br>
  • Maintaining the database of customers on a regular basis.<br>
  • Suggest solutions based on customers’ needs and requirements.<br><br>
  
  
  <b>Requirements: -</b><br>
  • High school or equivalent.<br>
  • Work experience as a Tele caller, Telemarketer, or a similar role in the Sales Department.<br>
  • Professional certification in sales and marketing will be an advantage.<br>
  • Great interpersonal skills.<br>
  • Exceptional oral and written communication skills.<br>
  • Strong organizational skills.<br>
  • Ability to work in a team or individually as and when required.<br>
  • Ability to manage and handle multiple tasks.<br>
  • Outstanding problem-solving skills.<br>
  • Exceptional attention to detail.<br>
  • Hard-working individual.<br>
  • Good time management abilities.<br>
  • Strong decision-making skills.<br>
  • Ability to tolerate stress and pressure.<br>
  • Fluent in Hindi, Gujarati, or English<br>
  • Computer Knowledge is a must<br><br>
  
  
  Role Business Development Manager (BDM)<br>
  Industry Type Real Estate - Others<br>
  Department Sales & Business Development<br>
  Employment Type <br>
  Role Category BD / Pre Sales<br>
  Education<br>
  Preferably Graduation but not Required<br><br>
  
  <b>Key Skills</b><br>
  Communication Skills, BPO Centre Experience, Computer Skills</p>
         
  
  
  


    </section>


  </div>

{% endblock content %}