{% extends 'core/base.html' %}

{% load static %}


{% block title %}
Live Booking Status Dholera Metro City
{% endblock title %}

{% block content %}


<div>
  <div>
    <img id="myImage" class="w-full h-auto max-sm:h-36" src="{% static 'blog-images\resale\DMC-5004_live_bookinng_status-all.jpg' %}" alt="">
  </div>

</div>

<section class="mt-8">


  <h1 style="background-color: rgb(151, 206, 53);" class=" text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 5005</h1>

  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\layout-book-resale-1.jpg' %}" alt="">

    <img src="{% static 'blog-images\resale\layout-book-resale-2.jpg' %}" alt="">
  </div>

  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 5004</h1>

  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\resale-dmc-5004.jpg' %}" alt="">

  </div>

  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 5003</h1>

  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\resale-dmc-5003.jpg' %}" alt="">

  </div>

  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 5002</h1>


  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\resale-dmc-5002.jpg' %}" alt="">

  </div>

  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 5001</h1>

  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\Layout-plan-Dholera-Metro-City-5001.jpg' %}" alt="">

  </div>

  
  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 4</h1>
  
  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\Dholera-Metro-City-DMC-4-Layout.jpg' %}" alt="">

  </div>

  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 3</h1>
  
  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\Dholera-Metro-City-DMC-3-Layout.jpg' %}" alt="">

  </div>


  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 2</h1>
  
  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\Dholera-Metro-City-2-Layout.jpeg' %}" alt="">

  </div>


  
  <h1 style="background-color: rgb(151, 206, 53);" class="mt-5 text-white font-bold  p-2 text-3xl text-center ">Dholera Metro City - 1</h1>
  
  <div class="px-5 mt-4 flex flex-col justify-center items-center gap-5">

    <img src="{% static 'blog-images\resale\Dholera-Metro-City-1-Layout.jpg' %}" alt="">

  </div>



</section>


<div class="h-96"></div>
{% endblock content %}