{% extends 'core/base.html' %}

{% load static %}

{% block title %}
Dholera SIR Industrial Plots & Land For Sale Inside Dholera Smart City
{% endblock title %}

{% block content %}
<div class="">

  <img width="100%" src="{% static 'images\Orchid-DIP\lch-header.jpg' %}" alt="">
</div>
<section style="background-color: rgb(249, 243, 236);" class="">




  <div class="py-3 px-10 max-sm:px-5">

    <div class="flex flex-col  text-center py-3  align-middle  justify-center items-center">


      <img width="" src="{% static 'images\Lily-DRT\not-for-sale.jpg' %}" alt="">



      <img src="{% static 'images\Orchid-DIP\head-img.jpg' %}" alt="">




      <div class="mt-4">
        <img width="100%" src="{% static 'projects\5006\step-1.jpg' %}" alt="">
      </div>

      <div class="mt-4 text-xl font-semibold text-blue-700 text-center">
        Welcome to Dholera SIR. <br>

        Preferred Destination for the Next Generation of Industries. <br>

        "Orchid Dholera Industrial Park " In Dholera SIR <br>

        Promoted by:- M/s. Dholera Metro City Group
      </div>

      <div style="background-color: purple;" class="mt-4 p-4">

          <h1  class="  text-white font-semibold">Best Residential Plotting Schemes in Dholera SIR</h1>
      </div>



      <div class="mt-3">
        <img src="{% static 'images\Orchid-DIP\location-advantage.jpg' %}" alt="">

      </div>

      <div class="mt-3">
        <img src="{% static 'images\Lily-DRT\001.jpeg' %}" alt="">

      </div>




      <div class="mt-3">
        <img src="{% static 'images\Lily-DRT\adjoining-zone.jpg' %}" alt="">
      </div>

      <div>
        <img src="{% static 'images\Rose-DIP\002.jpg' %}" alt="">
      </div>


      <div class="mt-3">
        <img src="{% static 'images\Lily-DRT\final-plot-location.jpg' %}" alt="">
      </div>

      <div>
        <img src="{% static 'images\Orchid-DIP\004.jpg' %}" alt="">
      </div>


      <div class="mt-2">
        <img src="{% static 'images\Orchid-DIP\tp-arial-view-orchild-dholera-industrial-park.jpg' %}" alt="">

      </div>


      <div>
        <img src="{% static 'images\Lily-DRT\step-2.jpg' %}" alt="">
      </div>

      <div>
        <img src="{% static 'images\Orchid-DIP\layout-orchild-dholera-industrrial-park.jpg' %}" alt="">
      </div>

      <div class="mt-3">
        <img src="{% static 'images\Lily-DRT\plan-pass-heading.jpg' %}" alt="">
      </div>

      <div>
        <img src="{% static 'images\Orchid-DIP\Sandhida-560_FP-359_plan-pass.jpg' %}" alt="">
      </div>


      <div class="mt-3">
        <img src="{% static 'images\Lily-DRT\uses-permitted-header.jpg' %}" alt="">

      </div>

      <div>
        <img src="{% static 'images\Lotus-DIP\industrial-zone-1.jpg' %}" alt="">

      </div>

      <div>
        <img src="{% static 'images\Lotus-DIP\industrial-zone-2.jpg' %}" alt="">


      </div>
      <div>
        <img src="{% static 'images\Lotus-DIP\industrial-zone-3.jpg' %}" alt="">


      </div>



      <div class="mt-3">

        <iframe src="https://www.google.co.in/maps/place/Dholera+SIR+-+Plots+in+Dholera+Smart+City/@23.2038227,72.6492502,17z/data=!3m1!4b1!4m6!3m5!1s0x395c2a4c32ef1f63:0x463dfd4268390efc!8m2!3d23.2038227!4d72.6492502!16s%2Fg%2F11cl_fwb17?hl=en&entry=ttu" class="w-[900px] h-[600px] max-md:w-[300px] max-md:h-[300px]" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


       

      </div>

      <div class="mt-3" align="center"><a href="https://www.google.co.in/maps/place/Dholera+SIR+-+Plots+in+Dholera+Smart+City/@23.2038227,72.6492502,17z/data=!3m1!4b1!4m6!3m5!1s0x395c2a4c32ef1f63:0x463dfd4268390efc!8m2!3d23.2038227!4d72.6492502!16s%2Fg%2F11cl_fwb17?hl=en&entry=ttu" target="_blank"><img src="{% static 'images\Lily-DRT\office-direction.jpg' %}" alt="Dholera Metro City" /></a>


          <div class="mt-8 text-xl max-sm:text-lg font-semibold text-blue-900 text-center">

            If you want to take advantage of this once in a life time opportunity at the lowest price & best <br>
            location advantage for high return on your investment. We suggest you to act fast.

          </div>




          <div class="mt-8 text-2xl font-semibold max-sm:text-lg text-red-600 text-center">

            Pay Online with Following Details

          </div>

          <div class="mt-4">
            <img width="100%" src="{% static 'projects\5006\Bank-1.jpg' %}" alt="">
          </div>

          <div class="flex flex-row gap-6 items-center justify-center mt-4">

            <div class="flex items-center justify-center">
              <img src="{% static 'images\hdfc.jpg' %}" alt="">
            </div>


            <div class="flex flex-col ">


              <h1 style="color: rgb(122, 122, 0);" class="text-xl max-sm:text-lg font-extrabold ">Chandubhai Jasrajbhai Vasoya</h1>

              <h1 class="text-center mt-3 text-base max-sm:text-sm font-semibold text-black">

                Saving Bank A/C No.: 50100052101885 <br>

IFSC Code : HDFC0000190, GANDHINAGAR ,<br> BRANCH, GUJARAT.
              </h1>
            </div>
          </div>

        


         

          <div class="mt-3">
            <img src="{% static 'images\insi.jpg' %}" alt="">

          </div>

      </div>
    </div>

</section>

{% endblock content %}