{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dholera Smart City Gujarat SIR Property - Dholera Metro City®
  
{% endblock title %}


{% block content %}
<div id="thumbnail-slider" style="z-index: 1;" class=" mb-12 lg:mb-6 nav-inset-button carousel " data-flickity='{ "cellAlign": "left", "wrapAround": true, "draggable": true, "adaptiveHeight": true, "prevNextButtons": false , "autoPlay": true, "pauseAutoPlayOnHover": false, "imagesLoaded": true }'>
    <div class="max-w-full w-full ">
      <img alt="title" class="w-full max-sm:h-72 h-[30rem]   " src="{% static 'images\carousel\Dholera_Metro_City_4.jpg' %}">
    </div>
    <div class="max-w-full w-full">
      <img alt="title" class="w-full max-sm:h-72 h-[30rem]  " src="{% static 'images\carousel\Dholera_Metro_City_2.jpg' %}">
    </div>
    <div class="max-w-full w-full">
      <img alt="title" class="w-full max-sm:h-72 h-[30rem]  " src="{% static 'images\carousel\Dholera_Metro_City_5.jpeg' %}">
    </div>
    <div class="max-w-full w-full">
      <img alt="title" class="w-full max-sm:h-72 h-[30rem]  " src="{% static 'images\carousel\new-project.gif' %}">
    </div>
  </div>


  <div class="mb-10 flex flex-col items-center text-center justify-center">

    <iframe class="border -z-50 border-solid shadow-2xl border-green-600 rounded-lg w-[560px] h-[315px] max-sm:w-[280px] max-sm:h-[200px]" src="https://www.youtube.com/embed/iGxKppt3b3M?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h1 class="mt-14 text-2xl bg-blue-950 p-4 text-yellow-400 font-bold">100% Payment by Cheque</h1>
    <div class="mt-12 px-20 max-sm:px-8 text-2xl max-sm:text-xl max-sm:gap-3 flex flex-col text-blue-950 font-bold">
      <p>Join FREE LIVE WEBINAR which is designed for the perfect</p>
      <p>INVESTMENT PRINCIPLES that you will be PROUP TO ATTEND.</p>
      <div class="md:mt-8">

        <span class=""> <button class="text-white py-4 border shadow-2xl  px-3 rounded-2xl bg-green-600">Click here to join now!</button></span>
      </div>
    </div>

  </div>
</main>

<hr class="border-[0.5px] border-solid ">

<section class="mt-8">

  <div class="px-28 max-sm:px-16">
    <div class="text-center text-2xl font-bold text-purple-900 max-md:text-xl">
      <h1>Dholera Smart City Project India - Plot Investment Plans</h1>
    </div>
  </div>
  <div>
    <div class="px-32 py-16 grid w-auto max-lg:grid-cols-3 max-md:grid-cols-2 max-sm:px-7  grid-cols-5 gap-8">
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images/projects/dholera-metro-city-5006.gif' %}"   alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images/projects/dholera-metro-city-5005.gif' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_5004.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_5003.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_5002.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_5001.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_4.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_3.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_2.jpg' %}" alt="">
      </div>
      <div class="">
        <img class=" rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera_Metro_City_1.jpg' %}" alt="">
      </div>
      <div>
        <img class="rounded-2xl border-2 border-solid border-blue-900" src="{% static 'images\projects\Dholera-SIR_Property.jpg' %}" alt="">
      </div>
    </div>
  </div>

</section>

<section class="my-8">
  <div class="px-12 text-center mb-10 text-2xl font-bold text-purple-900">
    <h1>DHOLERA SMART CITY BREAKING NEWS</h1>
  </div>
  <div class="px-12 max-sm:px-6">
    <div class="border-2 border-blue-900 max-sm:border-b-0 sm:mb-8 max-sm:rounded-b-none rounded-xl p-4 flex flex-col">
      <div class="flex flex-row max-sm:flex-col gap-5">
        <img style="height: 5rem ; width: auto;" src="{% static 'images\media release\CM-shows-Dholera-SIR-progress-in-National-Industrial-Corridor-Meeting.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-4 max-sm:px-0">
          <div class="">
            <h1 class="text-lg max-sm:text-sm text-blue-950 font-bold">CM shows Dholera SIR progress in National Industrial Corridor Meeting
              <span class="text-sm max-sm:text-xs text-red-600 font-bold">03rd June 2023 | Source by https://www.constructionworld.in/</span>
            </h1>

          </div>
          <div class="text-sm font-semibold max-sm:hidden">
            <p>The meeting took place in New Delhi with Union Finance Minister Nirmala Sitharaman and Industry and Commerce Minister Piyush Goyal in attendance. Alongside Chief Minister Bhupendra Patel of Gujarat Chief Ministers and Industry Ministers from Haryana Maharashtra.......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white font-semibold">Read More</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="px-12 max-sm:px-6">
    <div class="border-2 border-blue-900  max-sm:border-t-0 max-sm:border-b-0 sm:mb-8 max-sm:rounded-t-none max-sm:rounded-b-none rounded-xl p-4 flex flex-col">
      <div class="flex flex-row max-sm:flex-col gap-5">
        <img style="height: 5rem ; width: auto;" class="" src="{% static 'images\media release\CM-Talks-Virtually-About-Dholera-At-NICDP-Meet.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-4 max-sm:px-0">
          <div class="">
            <h1 class="text-lg max-sm:text-sm text-blue-950 font-bold">CM Talks Virtually About Dholera At NICDP Meet
              <span class="text-sm max-sm:text-xs text-red-600 font-bold"> 03rd June 2023 | Source by https://ahmedabadmirror.com/</span>
            </h1>

          </div>
          <div class="text-sm font-semibold max-sm:hidden">
            <p>Gujarat Chief Minister Bhupendra Patel on Tuesday attended through video-conferencing the second meeting of the apex monitoring authority of the National Industrial Corridor Development Programme held in Delhi, an official said......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white font-semibold">Read More</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-12 max-sm:px-6">
    <div class="border-2 border-blue-900  max-sm:border-t-0 max-sm:border-b-0 sm:mb-8 max-sm:rounded-t-none max-sm:rounded-b-none rounded-xl p-4 flex flex-col">
      <div class="flex flex-row max-sm:flex-col gap-5">
        <img style="height: 5rem ; width: auto;" class="" src="{% static 'images\media release\rail-link-to-dholera-sir-a-priority-for-govt-main.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-4 max-sm:px-0">
          <div class="">
            <h1 class="text-lg max-sm:text-sm text-blue-950 font-bold">धोलेरा एसआईआर तक रेल लिंक सरकार की प्राथमिकता
              <span class="text-sm max-sm:text-xs text-red-600 font-bold"> 1st June 2023 | Source by timesofindia.indiatimes.com</span>
            </h1>

          </div>
          <div class="ttext-sm font-semibold max-sm:hidden">
            <p>मंगलवार को जारी एक आधिकारिक बयान में कहा गया है कि भारतीय राष्ट्रीय राजमार्ग प्राधिकरण (NHAI) ने भी राज्य सरकार को आश्वासन दिया है कि वह अहमदाबाद को धोलेरा से जोड़ने के लिए प्रस्तावित राजमार्ग के निर्माण को प्राथमिकता देगी।.....<span class="float-right mt-4 p-[0.65rem] py-2 bg-orange-500 text-white font-semibold">Read More</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="px-12 max-sm:px-6">
    <div class="border-2 border-blue-900  max-sm:border-t-0  sm:mb-8 max-sm:rounded-t-none rounded-xl p-4 flex flex-col">
      <div class="flex flex-row max-sm:flex-col gap-5">
        <img style="height: 5rem ; width: auto;" class="" src="{% static 'images\media release\dholera-Smart-Industrial-City-will-fulfill-the-dream-of-New-India-dada.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-4 max-sm:px-0">
          <div class="">
            <h1 class="text-lg max-sm:text-sm text-blue-950 font-bold">Dholera Smart Industrial City will fulfill the dream of New India: Dada
              <span class="text-sm max-sm:text-xs text-red-600 font-bold">31st May 2023 | Source by News4 Gujarati
              </span>
            </h1>

          </div>
          <div class="text-sm font-semibold max-sm:hidden">
            <p>Chief Minister (CM) Bhupendra Patel expressed this confidence by participating in the second meeting of the apex committee of the National Industrial Corridor Development Program through video conference. This second meeting of the Supreme..... <span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white font-semibold">Read More</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="py-16">
  <div class="px-24 max-sm:px-3 md:px-16">
    <div class="px-16 text-center text-3xl max-sm:text-2xl  text-purple-900 font-bold">
      <h1>Our Strength</h1>
    </div>
    <div class=" mt-12 grid lg:grid-cols-4 gap-8 text-center items-center align-middle max-sm:px-6 justify-center md:grid-cols-2 max-sm:grid-cols-1">
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex flex-row justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="10">0
          </h1>
          <span class="text-base font-bold -mt-8">+</span>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-3 font-bold mt-6 text-yellow-300">Project Sold Out</p>
      </div>
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex flex-row justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="7000">0
          </h1>
          <span class="text-base font-bold -mt-8">+</span>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-3 font-bold mt-6 text-yellow-300">Family Members Served</p>
      </div>
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex flex-row justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="418849">0
          </h1>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-3 font-bold mt-6 text-yellow-300">Sq Yard Project Area</p>
      </div>
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex  justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="3769630">0
          </h1>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-3 font-bold mt-6 text-yellow-300">Sq Feet Area Sold Out</p>
      </div>
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex flex-row justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="500"> 0
          </h1>
          <span class="text-base font-bold -mt-8">+</span>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-1 font-bold mt-4 text-yellow-300">Cities world wide Addressing Our Investors</p>
      </div>
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex flex-row justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="15">0
          </h1>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-3 font-bold mt-6 text-yellow-300">Year of Experience</p>
      </div>
      <div class="h-[10rem] w-[18rem] border-2 border-purple-900 p-7 px-0 rounded-lg text-center">
        <div class="flex flex-row justify-center items-center">
          <h1 class="counter font-bold text-4xl" data-target="314">0
          </h1>
          <span class="text-base font-bold -mt-8">+</span>
        </div>
        <p style="background-color: rgb(128, 0, 128);" class="py-3 font-bold mt-6 text-yellow-300">Channel Partners</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-10">
  <div class=" px-8 max-md:px-4 max-md:p-0 ">
    <div class="grid grid-cols-4 max-md:grid-cols-3 max-sm:grid-cols-2 gap-8 ">

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="{% static 'images\Our Strength\photo-gallery-metro-city-progress.jpg'  %}" alt="">
      </div>

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="{% static 'images\Our Strength\photo-gallery-investor-memories.jpg'  %}" alt="">
      </div>

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="{% static 'images\Our Strength\photo-gallery-dholera-sir-work-progress.jpg'  %}" alt="">
      </div>

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="
        {% static 'images\Our Strength\news-letters-tag.gif'  %}" alt="">
      </div>

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="{% static 'images\Our Strength\dholera-sir-running-complated-project-tag.jpg' %}" alt="">
      </div>

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="{% static 'images\Our Strength\Our_client_Dholerametrocity.jpg' %}" alt="">
      </div>

      <div>
        <img class="border-2 border-blue-900 rounded-xl h-72 max-md:h-60 max-sm:h-52" src="{% static 'images\Our Strength\photo_gallery_vibrant_dholerametrocity.jpg' %}" alt="">
      </div>

    </div>
  </div>

</section>

<section class="mt-20">
  <div class="px-32 max-md:px-16 max-sm:px-0">
    <div class="text-center px-9 text-2xl max-sm:text-lg font-bold text-purple-900">
      <h1 class="">WHAT OUR INVESTORS SAY</h1>
    </div>

    <div id="thumbnail-slider" class="mt-5 mb-12 lg:mb-6 nav-inset-button second-carousel " data-flickity='{ "cellAlign": "left", "wrapAround": true, "draggable": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": true, "pauseAutoPlayOnHover": false, "imagesLoaded": true }'>
      <div class="max-w-full w-full  py-4 text-center flex flex-col justify-center items-center">
        <img class="h-28 max-sm:h-20" src="{% static 'images\clients\bharat_gaur.png' %}" alt="">

        <div style="font-family:  cursive;" class="mt-7 max-sm:mt-4 text-lg font-light">
          <div class="max-sm:text-xs">
            <h1 class="">So far it has been a wonderful association with</h1>
            <h1>you all. The best thing is that you are very</h1>
            <h1>aroachable and every time....</h1>
            <h1 class=" my-3"><span class=" p-[0.65rem] py-2 bg-orange-500 text-white font-normal">Read More</span></h1>
          </div>
          <h1 class="text-blue-600">-Mr. Bharat Gaur, Haryana</h1>
        </div>
      </div>



      <div class="max-w-full w-full  py-4 text-center flex flex-col justify-center items-center">
        <img class="h-28 max-sm:h-20" src="{% static 'images\clients\kantilal.png' %}" alt="">

        <div style="font-family:  cursive;" class="mt-7 max-sm:mt-4 text-lg font-light">
          <div class="max-sm:text-xs">
            <h1>I am highly satisfied with this compact. It is</h1>
            <h1>very cristle clear and transparencies In every</h1>
            <h1>field of dealing with the customers.</h1>
            <h1 class=" my-3"><span class=" p-[0.65rem] py-2 bg-orange-500 text-white font-normal">Read More</span></h1>
          </div>

          <h1 class="text-blue-600">-Mr. Kharaitilal Sharma, USA</h1>
        </div>
      </div>


      <div class="max-w-full w-full  py-4 text-center flex flex-col justify-center items-center">
        <img class="h-28 max-sm:h-20" src="{% static  'images\clients\satish_patel.png' %}" alt="">

        <div style="font-family:  cursive;" class="mt-7 max-sm:mt-4 text-lg font-light">
          <div class="max-sm:text-xs">

            <h1 class="">I haven't come across service like this before,</h1>
            <h1>staffs are very helpful, available anytime,</h1>
            <h1>smooth process throughout.I have invested in</h1>
            <h1>so many plots in DMC 4, DMC 1, DMC 2, and now</h1>
            <h1>I am still investing in DMC 5003, because of</h1>
            <h1>transparency....</h1>
            <h1 class=" my-3"><span class=" p-[0.65rem] py-2 bg-orange-500 text-white font-normal">Read More</span></h1>
          </div>
          <h1 class="text-blue-600">- Mr. Satish Patel, UK</h1>
        </div>
      </div>


      <div class="max-w-full w-full  py-4 text-center flex flex-col justify-center items-center">
        <img class="h-28 max-sm:h-20" src="{% static 'images\clients\Rath_testimonial.png' %}" alt="">

        <div style="font-family:  cursive;" class="mt-7 max-sm:mt-4 text-lg font-light">
          <div class="max-sm:text-xs">
            <h1 class="">Staff are very much suortive and professional.</h1>
            <h1>- Staffs are always available over phone, email ,</h1>
            <h1>what-as to suort as well.</h1>
            <h1>- Starting from the site visit until the registration</h1>
            <h1>completion, all process are very smoothly</h1>
            <h1>handled. Now also company staffs has alied over</h1>
            <h1>mutation as well.</h1>

            <h1 class=" my-3"><span class=" p-[0.65rem] py-2 bg-orange-500 text-white font-normal">Read More</span></h1>
          </div>
          <h1 class="text-blue-600">-Mr. Subini Kumar Rath, UAE</h1>
        </div>
      </div>


      <div class="max-w-full w-full  py-4 text-center flex flex-col justify-center items-center">
        <img class="h-28 max-sm:h-20" src="{% static 'images\clients\siril_barot.png' %}" alt="">

        <div style="font-family:  cursive;" class="mt-7 max-sm:mt-4 text-lg font-light">
          <div class="max-sm:text-xs">

            <h1 class="">Wish you all the luck in ongoing and upcoming</h1>
            <h1>projects. Keep up the great work !! I would</h1>
            <h1>like to convey my special thanks to Dholera</h1>
            <h1>Metro City Team for being always there for me</h1>
            <h1>whenever needed.!"</h1>
          </div>

          <h1 class=" my-3"><span class=" p-[0.65rem] py-2 bg-orange-500 text-white font-normal">Read More</span></h1>
          <h1 class="text-blue-600">- Mr. Siril Barot, Mumbai</h1>
        </div>
      </div>

      <div class="max-w-full w-full py-4 text-center flex flex-col justify-center items-center">
        <img class="h-28 max-sm:h-20" src="{% static 'images\clients\chandrakant_patel.png' %}" alt="">

        <div style="font-family:  cursive;" class="mt-7 max-sm:mt-4 text-lg font-light">
          <div class="max-sm:text-xs">

            <h1 class="">Really DMC ( Dholera METRO City ) site is</h1>
            <h1>India's No 1 Site and Very much transperancy</h1>
            <h1>as well as Great response from All DMC Staff</h1>
            <h1>members This is Extraordinary work so Salute</h1>
            <h1>to DMC</h1>
          </div>

          <h1 class=" my-3"><span class=" p-[0.65rem] py-2 bg-orange-500 text-white font-normal">Read More</span></h1>
          <h1 class="text-blue-600">- Mr. Chandrakant Patel, Kuwait</h1>
        </div>
      </div>

    </div>
  </div>
  <a href="#top">
    <div class="mt-8 flex justify-center">

      <img style="height: 1.7rem; width: 1.7rem;" src="{% static 'images\clients\Top arrow.png' %}" alt="">
    </div>
  </a>
</section>

<section class="mt-16">
  <div class="">

    <style>
      .grid-sec {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 2rem;
      }

      @media screen and (max-width: 768px) {
        .grid-sec {
          display: grid;
          grid-template-columns: auto;
          gap: 0;
        }

        #ad-images {
          display: none;
        }
      }
    </style>

    <div class="px-8  grid-sec ">
      <div class=" flex flex-col">
        <div class="text-left font-bold text-2xl">
          <h1>Dholera Smart City - India's PM Narendra Modi's Dream Project</h1>
        </div>
        <div class=" mt-3 font-normal flex flex-col gap-7">
          <p>Dholera Smart City is a town situated in Gujarat, is the joint venture of Gujarat Govt. and central Government. Strategically located the Ahmedabad-Dholera industrial region lies within 100 km from <span class="text-purple-900 font-bold"> Dedicated Freight Corridor(DFC) </span> in Southern Gujarat.</p>

          <p>It is being built as part of the Delhi-Mumbai Industrial Corridor (DMIC) and is being touted as India's first smart city. The city is being designed to be sustainable, efficient, and technologically advanced with features like smart infrastructure, integrated transportation systems, high-speed internet connectivity, and advanced waste management systems.</p>

          <p>The project is expected to transform Dholera from a small village into a modern metropolis, attracting businesses, investments, and opportunities for the local community. The development of Dholera Smart City is a significant step towards India's goal of building 100 smart cities across the country.</p>

          <p>Greeting from Dholera Metro City. Dholera Metro City Gujarat develops NA, NOC Title cleared <span> residential plots in Dholera SIR.</span> Dholera Metro City Group is the most trusted and reputed organization, having highest land bank and property selling experience at Dholera Special Investment Region. We offer land and property in Dholera Smart City. Dholera Smart City property is being touted as the next big investment opportunity in India. With the city being developed at a fast pace, investors are flocking to Dholera to invest in Dholera SIR projects. We're the pioneer real estate developer at Dholera SIR offering land & plots within budget. Dholera Metro City, One of the renowned builders in the city, takes pride to introduce residential plots projects at Dholera SIR, Gujarat, India.</p>
        </div>

        <div class="mt-11">
          <div class="text-xl font-bold">
            <h1>Central Spine Road (Sh6)</h1>
          </div>
          <div class="mt-8  font-normal flex flex-col gap-5 text-blue-800">
            <p>The Gujarat State Road Development Corporation Limited (GSRDC) is developing an access controlled expressway Between Ahmedabad & DSIR to Serve as a Central Spine Road for <span class="text-purple-900 font-bold">Dholera SIR.</span> he proposed road would serve as central spine for Ahmedabad-Dholera SIR. It is decided that initially the road will be four lane with six lane structure. It could be access controlled.</p>

            <p>The road is supposed to connect the Ahmedabad city on one hand and <span class="text-purple-900 font-bold"> Dholera Smart City</span> and Bhavnagar ports on the other side. It is envisaged that the new industry cluster to be developed along the spine would considerably benefit with central linkage. It will also act as catalyst to other developments in the region in general and that of SIR in particular. This is also a part of master plan submitted to central govt. for DMIC road connectivity. This is approved by the central govt.</p>
          </div>

        </div>


        <div class="mt-8">
          <div class="text-xl font-bold">
            <h1>Dholera Metro Train (MRTS)</h1>
          </div>
          <div class="mt-6  text-blue-800 flex flex-col gap-6">
            <p>In Metro rail the distance between Gandhinagar-Ahmedabad-Dholera Smart City is to be covered in two trenches from Gandhinagar to Ahmedabad and from Ahmedabad to Dholera. It is about 100 kms and is proposed as elevated metro. This will provide faster movement and even otherwise important for new international air port. The project is having a longer gestation period and requires to be taken up quickly. The metro is also approved under DMIC master plan by the central govt.</p>

            <p>
              In one of the meetings with secretary DIPP, during his visit to Gandhinagar it was thought of high speed rail corridor on this route. It is related to pre- feasibility study being carried out by the ministry of railways for Pune-Mumbai-Ahmedbad high speed rail corridor. The govt. of Gujarat has requested the MoR to check up the possibility to extend it upto Dholera Smart City via GIFT near Gandhinagar.
            </p>

            <p> In the meantime the study work has been assigned to IL&FS by <span class="text-purple-900 font-bold"> GIDB</span> for Metro rail. In fact on 29th August 2008, GIDB has re-appointed IL&FS Infrastructure development Corporation for undertaking project advisory services for the Ahmedabad Metro project with the scope of services leading to selection of concessionaire. Again, on 1st September 2008, GIDB also appointed Delhi Metro Rail Corporation for consultancy services for preparing the Detailed Project Report for the Ahmedabad Metro Extension from Gandhinagar to GIFT city.</p>
          </div>
        </div>



        <div class="mt-8">
          <h1 class="text-xl font-bold">
            Dholera International Airport
          </h1>

          <div class="flex flex-col gap-8  font-normal text-blue-800">
            <div class="flex flex-col gap-7  mt-7 ">
              <p>> New International Airport on the Northern tip, 1 Kms away of SIR</p>
              <p>> 9200 hectors Government land reserved by State Govt of Gujarat</p>
              <p>> DPR under preparation by Airport Authority of India</p>
              <p>> Site Suitability estabilished by Airport Authority of India</p>
              <p>> SPV has been formed by GoG</p>
              <p>> Cargo as well as passenger Airport facility will be available</p>
            </div>
            <p>The existing airport of Ahmedabad has emerged as one with highest annual growth in traffic and will get saturated much before the year 2020. The expansion of Ahmedabad airport is difficult due to various reasons. Under the circumstances, a new international airport is required to cater the future traffic.</p>

            <p>While assessing the potential and requirements of the Dholera SIR, Government envisaged a tremendous need for a Greenfield International Airport in its vicinity. The level of economic activities in the SIR backed by enormous domestic and foreign investment shall need a world class modern International Airport in this region. Therefore state has included the development of an International Airport in the list of <span>“Early Bird Projects”</span> in consultation with Department of Industrial Promotion and Policy. GoG has also signed an MoU with the Delhi Metro Industrial Corridor Development Company in this regard.</p>
          </div>


        </div>



        <div class="mt-8">
          <div class="mt-4 text-xl font-bold">
            <h1>Dholera Smart City: India's First Greenfield Smart City for Sustainable Living</h1>
          </div>

          <div class="mt-9  text-blue-800 flex flex-col gap-3">
            <p>Dholera SIR is a major project under the <span class="text-purple-900 font-bold">DMIC Project</span> with an aim to make it a global manufacturing hub supported by world class infrastructure. Dholera is 1st SIR within high impact Delhi-Mumbai Industrial Corridor (DMIC)</p>

            <p>The vision of Dolera SIR is "The Development Plan, taking into account the DMIC objectives and goals, should focus towards creating and enabling environment to protect local industries, enhance investment climate, improve quality of life, upgrade human skills, create world class infrastructure and attract global investment".</p>

            <p>Project goals are to double the employement potential, triple industrial output and quadruple exports from the region in next five years.</p>

            <p>The Dholera SIR (Special Investment Region) will broadly comprise of various zones including residential, commercial, financial, manufacturing, processing, entertainment and institutional and others in addition to the world class infrastructure in terms of road, water, sanitation and other facilities.</p>


            <p>Dholera SIR is a India-Japanese joint initiative that are proposed to build a -Mini-Japan Township.</p>

            <p>Moreover the schemes comprises all modern amenities & excellent infrastructure design with Prime lowest Price & EMI option with flexible time duration.</p>

            <p>Invest at India's first biggest planned smart city Dholera SIR Residential plots and a special investment region with Most trusted developer in Government approved project now. Multiple Investment Opportunities for Partner/Investors for launching new project <span class="font-bold text-blue-900"> Dholera Metro City - 5005,</span> Residential Plots Project in Dholera Smart City. Promoted by group of top real estate developer, this project will be a unique smart city with no parallel in the world</p>
          </div>
        </div>




        <div class="mt-8">
          <div class="mt-6 text-xl font-bold">
            <h1>The major highlights of Dholera Smart City</h1>
          </div>
          <div class=" text-blue-800 pl-8 mt-6">
            <ul class="flex flex-col gap-3 list-disc">
              <li>Dream Project of Mr. Narendra Modi envisaged when he was the Chief Minister of Gujarat.</li>
              <li>Identified as the first Smart City of India.
              </li>
              <li>To be developed 2 times the size of Delhi and Six times that of Shanghai.</li>
              <li>Rated by Forbes as one of its kind cities in India and one amongst Top 12 fastest growing cities in the world.</li>
              <li>A Special Investment node along the DMIC corridor making it a site for fast track trading and manufacturing activities.</li>
              <li>Development plans undertaken jointly by Gujarat State Government and Central Government.</li>
              <li>Excellent connectivity through rail, road,<span class="font-bold text-purple-900"> express highway,</span> international airport, metro and port which collectively links the city on both national and global front.</li>
              <li>Initial funding of Rs. 3,000 crore received from government which shall result in attracting FDI's and private investors.</li>
              <li>Availability of abundant land at lower valuation makes it a value proposition for retail and international investors.</li>
              <li>First choice for smart investors owing to its strategic location, current prices and thrust from the government.</li>
              <li>By and large, it is very much advised by experts who are observing Dholera Real Estate markets very closely that investing in Dholera at present will surely yield very good returns.</li>
              <li>World-class 250 Mt wide 10 Lane Central spine express way</li>
              <li>High Speed Metro Rail and BRTS to link SIR with mega cities</li>
              <li>Dholera International Airport with Cargo facility</li>
              <li>Connected with Kalpsar dam & Bharuch-Bhavnagar Ferry Service</li>
              <li>Sea Port in the vicinity</li>
              <li>Proximity to mega cities: Ahmedabad, Bhavnagar, Vadodara</li>
              <li>Partner Countries: USA, UK, Singapore, France, China, Korea etc.</li>
              <li>Close to Gujarat International Finance Tech (GIFT) city</li>
              <li>International level Smart Networking plan ICT completed by CISCO</li>
              <li>Major Investor-CISCO, IBM, USEL,Mitshubishi, Hitachi, Mahindra etc.</li>
              <li>Sea Pipavav Port in the vicinity - Best for doing business / trades</li>
              <li>Benefit of sea coast, nature park, golf course</li>
              <li>Logistic support of the Dedicated Freight Corridor (DFC).</li>
              <li>Capable to cater to both International & Domestic Market</li>
              <li>Close to Petro-chemicals & Petroleum Investment Region (PCPIR)</li>
              <li>Reshaping of irregular shaped plot is completed in FP (Final Plot).</li>
            </ul>
          </div>
        </div>



      </div>



      <div id="ad-images" class="mt-8 flex flex-col text-center  items-center   gap-8">
        <div>
          <img class="border-2 border-blue-900 rounded-xl" src="{% static 'images\projects\Central_Business_District_Dholera.jpg' %}" alt="">
        </div>
        <div>
          <img class="border-2 border-blue-900 rounded-xl" src="{% static 'images\projects\Dholera_International_Airport.jpg' %}" alt="">
        </div>
        <div>
          <img class="border-2 border-blue-900 rounded-xl" src="{% static 'images\projects\New_Six_lane_Express_Road.jpg' %}" alt="">
        </div>
        
          <div>
          <img class="border-2 border-blue-900 rounded-xl" src="{% static 'images\projects\Sports-Complexes_Dholera.jpg' %}" alt="">
        </div>
        <div>
          <img class="border-2 border-blue-900 rounded-xl" src="{% static 'images\projects\Metro_Train_Dholera.jpg' %}" alt="">
        </div>
        <div>
          <img class="border-2 border-blue-900 rounded-xl" src="{% static 'images\projects\Kalpsar_Dam.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-12">
  <div class="flex flex-col  text-center items-center justify-center">
    <div class="">
      <img class="border-2 border-blue-900 rounded-xl shadow-lg" src="{% static 'images\projects\dholera-metro-city-5004.gif' %}" alt="">
    </div>
  </div>
</section>


<section class="mt-8 py-12">
  <div class="lg:px-64 flex flex-col justify-center items-center max-md:px-18 max-sm:px-10">
    <div class="bg-blue-950  p-8 text-yellow-400 text-2xl max-md:text-xl max-sm:text-base font-semibold">
      <h1>To download free report on India's First Planned city (Dholera Special Investment Region), Project Brief, The Development Strategy The phasing Strategy, Land Use Proposals, Transports, Utilities, Environmental assessment, social assessment, implementation & regulatory frameworks, Broad cost estimates, benefits from DSIR, Development Plan etc, GDCR, Land Use proposal Just share the link</h1>
    </div>
  </div>


</section>


<!-- This will just for clone this will mustbe in server side not here cuz of many user can access the website so thats why counter will be in server side -->
<div class="mt-10 flex flex-col px-20">
  <h1 id="counter" style="letter-spacing: 0.3rem;" class="text-lg   font-semibold">0</h1>
  <p class="font-bold">Site Visitors</p>
</div>
<script>
  let currentValue = localStorage.getItem("counterValue") || 0;

  currentValue++;
  localStorage.setItem("counterValue", currentValue);

  let formattedValue = currentValue.toString().padStart(6, '0');
  document.getElementById("counter").textContent = formattedValue;
</script>







{% endblock content %}