{% extends 'core/base.html' %}

{% load static %}

{% block title %}

Project Land | Dholera Metro City

{% endblock title %}

{% block content %}

<div>
    <div>
      <img  class="w-full  h-auto max-sm:h-36" src="{% static 'images\ProjectLand\Sell-Your-Land-Faster-header.jpg' %}" alt="">
    </div>
    
  </div>

  <section class="mt-4 px-10">  

    <div class="text-center font-bold text-blue-900 text-2xl">
      <h1>Seven Day Guaranteed Deal offer</h1>
    </div>

    <div class="mt-4 flex justify-center items-center flex-grow gap-6 flex-wrap">

      <img class="rounded-xl shadow-2xl border-2 border-blue-900" src="{% static 'images\ProjectLand\buyerbtn.jpg' %}" alt="">

      <img class="rounded-xl shadow-2xl border-2 border-blue-900" src="{% static 'images\ProjectLand\sellerbtn.jpg' %}" alt="">

    </div>

    
    <hr class="border-2 border-gray-600 mt-9">


    <div class="text-center font-bold mt-7 text-blue-900 text-2xl">
      <h1>Real Estate Management & Marketing Consultancy Services by Dholera Metro City Group</h1>
    </div>

    <div style="letter-spacing: 0.2px;" class= "flex flex-col gap-6 text-gray-700  font-semibold text-base leading-8 ">

      <span class="text-black font-bold mt-5">Dholera Metro City Group offers a full range of real estate consulting services tailored to the specific needs of your organization that can drive your success.</span>


      <p>
        Dholera Metro City Group is a leading real estate organization that provides end-to-end real estate services for Investors. We offer real estate and urban economic consulting services to developers, owners, occupiers, institutional investors, public sector organizations in and around the Dholera SIR, Gujarat.

      </p>

      <p>
        We offer property consultancy services relating to development and investment, market research and valuation activities. From a decade long, vast experience in the field of Real Estate Industries, we are confidently knowing and still updating every expects of Real Estate which are facing by Investors, Developers, Agents.
      </p>

      <p>
        With the motive to help and ease down the process, we are happy to offer our Real Estate Consultancy Services to you all now in below fields. Across the range of services provided — including development, occupational and investment advice — our team ensures that customized solutions are aligned to the key business objectives of our Investors.

      </p>
    </div>


    <div class="text-center font-bold mt-7 text-blue-900 text-2xl">
      <h1>Real Estate Consultancy Services</h1>
    </div>

    <ul class="mt-4 leading-8  font-semibold text-blue-950 list-inside list-decimal px-4">

      <li>
        Land/Property Valuation
      </li>

      <li>
        Land Property Location Identification
      </li>


      <li>
        Land Survey & Land Measurements
      </li>

      <li>
        Land Record Mutation
      </li>


      <li>

        Website Development
      </li>

      <li>
        Digital Marketing
      </li>

      <li>
        CRM System Implementation
      </li>



      <li>
        ERP System Implementation
      </li>


      <li>
        GST Registration Process
      </li>


      <li>
        RERA Registration Process
      </li>

      <li>
        N.A. conversation Process
      </li>


      <li>
        Premium Payment Process
      </li>

      <li>

        Title Clear Certificating Process
      </li>


      <li>

        Lawyer Service

      </li>


      <li>
        Sales team Training

      </li>

      <li>
        Firm/Company/LLP Registration Process
      </li>


      <li>

        Procurement of Zoning Certificate, Part plan
      </li>


      <li>
        Plan passing work for Residential, Commercial, Industrial Projects as per GDCR
      </li>


      <li>

        Goodwill
      </li>

    </ul>


    <div class="mt-7 flex flex-col gap-7 text-base font-light text-gray-600 leading-9">

<p>
  There are many processes for real estate organization to approve for their business. For any organization, the fundamental metric for establishing a credible relationship with consumers and stakeholders is its commitment to deliver products and services of the highest quality consistently. To provide the best customer satisfaction, we employ the tenets of total quality management while adhering to our own standards and work ethic.
</p>


<p>
  
We have developed strong relations with top real estate developers to provide the highest quality of service to our patrons. Over the years, we have managed to develop strong relationships with a multitude of leading developers, promoters, and investors in the real estate business. The strong foundation of our business is based on our core values of client satisfaction, integrity, responsibility and out of the box approach.
</p>

<p>
  What differentiates our team is the expertise of our seasoned professionals, which are the fundamental pillar of our service offering. When navigating complex real estate challenges, these professionals are committed to fully understanding the specific needs of every individual client and applying a solution driven outcome. This ensures that our clients are able to utilize the strategic advice provided by our team to make informed real estate decisions, reduce costs, create value and improve performance.
</p>


<p>
  We are also offering early stage Project Partnership in below Projects which are managed and Marketed by Dholera Metro City group so you can be benefited by our long-lasting expertise of real estate field and get benefits of our know how and systematic established proven system and our intangible assets like our Goodwill, Brand Equity, Intellectual Property, Licensing and Rights, Customer Lists, Research & Development, brand value, trademarks, copyrights, market-related, customer-related, contract-related and technology-related intangible assets, marketing activity, social media image etc.
</p>


    </div>

    
  </section>
  

    

{% endblock content %}
