{% extends 'core/base.html' %}

{% load static %}

{% block title %}

Return & Cancellation | Dholera Metro City

{% endblock title %}

{% block content %}


    <div class="mt-4 px-10 text-base">

        <h1 class="text-2xl font-semibold text-black leading-7">
            Refund/Cancellation Policy
        </h1>
        
        <p class="mt-4">
            (As per Booking form particular for the different property and Partnership form particular for the different property, Signed by Investor/Buyer/Partner at the time of finalisation)        </p>

        <p class="mt-8 ">
       <span class="text-blue-900 font-bold"> <img  src="" alt=""> For more details Kindly contact </span><br>
Dholera SIR Infra Development <br>
Plot no. 337, Sector 8, <br>
Gandhinagar 382008 <br>
Contact : 9978952340 <br>
Email: info@dholermetrocity.com

        </p>
    </div>
    
{% endblock content %}