{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Download | Dholera Metro City
{% endblock title %}

{% block content %}


<div>
  <div>
    <img class="w-full h-auto max-sm:h-36" src="{% static 'images\Download page\download_header.jpg' %}" alt="">
  </div>
</div>

<div class="px-16 max-sm:px-5 mt-10">

 
  <div class="mt-8">
    <div class=" text-base grid grid-cols-6 max-lg:grid-cols-4 max-md:grid-cols-3 max-sm:grid-cols-2    gap-3">

      <div class="text-center">
        <button class="bg-purple-900 p-3 rounded-xl text-white font-semibold">
          Brochures
        </button>
      </div>

      <div class="text-center">
        <button class="bg-purple-900 p-3 rounded-xl text-white font-semibold">
          Govt. Circular
        </button>
      </div>

      <div class="text-center">
        <button class="bg-purple-900 p-3 rounded-xl text-white font-semibold">

          SIR Act 2009
        </button>
      </div>


      <div class="text-center">
        <button class="bg-purple-900 p-3 rounded-xl text-white font-semibold">
          Development plan
        </button>
      </div>


      <div class="text-center">
        <button class="bg-purple-900 p-3 rounded-xl text-white font-semibold">
          Town Planning Schema
        </button>
      </div>


      <div class="text-center">
        <button class="bg-purple-900 p-3 rounded-xl text-white font-semibold">
          MoUs Details
        </button>
      </div>

    </div>
  </div>


  <div class="mt-8 grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-6">
    <!-- first  -->
    <div>
      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">


        <div class="flex flex-row items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Brochures
          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          <div>
            <a href="{% url 'download:Brochure-DMC-5005' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-5005
              </h1>
            </div>
          </a>

          </div>



          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-5004' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-5004
              </h1>
            </div>
          </a>

          </div>


          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-5003' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-5003
              </h1>
            </div>
          </a>

          </div>


          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-5002' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-5002
              </h1>
            </div>
            </a>

          </div>



          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-5001' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-5001
              </h1>
            </div>
            </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-4' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
                Dholera Metro City-4
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-3' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-3
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-2' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-2
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Brochure-DMC-1' %}
            " target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Dholera Metro City-1
              </h1>
            </div>
            </a>
          </div>

        </div>
      </div>
    </div>



    <!-- second  -->
    <div>


      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">
        <div class="flex flex-row  items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Govt Circular
          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          <div>
            <a href="{% url 'download:Govt-Circular-for-Airport' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Govt Circular for Airport
              </h1>
            </div>
</a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:Govt-Circular-for-Dholera' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Govt Circular for Dholera SIR
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:download' %}" >
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
                D-SIR Notification
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Dholera-SIR-RDA-Notification' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                D-SIR RDA Notification
              </h1>
            </div>
            </a>
          </div>



        </div>
      </div>
    </div>


    <!-- third -->
    <div>

      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">
        <div class="flex flex-row  items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Final Development Plan

          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          <div>
            <a href="{% url 'download:Final-Proposed-Land-Use-Plan' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Final Proposed Land Use Plan
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:Dp-Report-1' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Development Plan Report-1
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DP-Report-2-GDCR' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
                Development Plan Report 2 - GDCR
              </h1>
            </div>
</a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DP-Sanction-Notification' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DP Sanction Notification
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:General-Development-Control-Regulations' %}">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                General Development Control Regulations
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:GDCR-Gujarati' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                GDCR Gujarati
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:DP-Gujarati-04062012' %}" target="_blank">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Final Development Plan
              </h1>
            </div>
          </a>
          </div>


        </div>
      </div>
    </div>

    <!-- fourth -->


    <div>
      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">


        <div class="flex flex-row items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Draft TP Scheme 3 & 4
          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          <div>
            <a href="{% url 'download:Publication-in-Gazette' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Publication in Gazette
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:Plan-2-OP-DTPS-3' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 2- OP Plan (DTPS-3)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Plan-3-OP-FP-Plan-DTPS-3' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 3- OP-FP Plan (DTPS-3)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Plan-3-FP-Plan-DTPS-4' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 3- FP Plan (DTPS-4)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:download' %}" >
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 2- OP Plan (DTPS-4)
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:Plan-4-FP-Plan-DTPS-3' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
               
                Plan 4- FP Plan (DTPS-3)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Plan-4_OP-FP-Plan-DTPS-4' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 4- OP-FP Plan (DTPS-4)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-3-4-Notification' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DTPS 3-4 Notification
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-3-INDEX-PLAN' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DTPS 3 INDEX PLAN
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-4-INDEX-PLAN' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DTPS-4 INDEX PLAN
              </h1>
            </div>
          </a>
          </div>



        </div>
      </div>
    </div>


    <!-- fifth -->

    <div>
      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">


        <div class="flex flex-row items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Draft TP Scheme 5 & 6
          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          
          <div>
            <a href="{% url 'download:DTPS-5-OP-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 2- OP Plan (DTPS-5)
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:DTPS-5-OP-FP-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 3- OP-FP Plan (DTPS-5)
              </h1>
            </div>
</a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-5-FP-Plan' %}" target="_blank" rel="noopener noreferrer">

            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 4- FP Plan (DTPS-5)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-6-OP-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 2- OP Plan (DTPS-6)
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-6-FP-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Plan 3- FP Plan (DTPS-6)
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:DTPS-6-OP-FP-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
                Plan 4- OP-FP Plan (DTPS-6)
              </h1>
            </div>
            </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-5-6-Notification' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DTPS 5-6 Notification
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-5-Index-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DTPS 5 INDEX PLAN
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:DTPS-6-Index-Plan' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                DTPS-6 INDEX PLAN
              </h1>
            </div>
          </a>
          </div>





        </div>
      </div>
    </div>


    <!-- sixth -->

    <div>
      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">


        <div class="flex flex-row items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Sactioned DTPS 1-2-3
          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          
          <div>
            <a href="{% url 'download:OP-FP-Plan-DTPS-1' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                OP FP Plan DTPS-1
              </h1>
            </div>
          </a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:FP-Plan-DTPS-1' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                FP Plan DTPS-1
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Notification-DTPS-1' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Notification DTPS-1
              </h1>
            </div>
          </a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:OP-FP-Plan-DTPS-2' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                OP FP Plan DTPS-2
              </h1>
            </div>
</a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:FP-Plan-DTPS-2' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                FP Plan DTPS-2
              </h1>
            </div>
</a>
          </div>



          <div class="mt-8">
            <a href="{% url 'download:Notification-DTPS-2' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
                Notification DTPS-2
              </h1>
            </div>
</a>
          </div>


          <div class="mt-8">
             <a href="{% url 'download:OP-FP-Plan-DTPS-3' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                OP FP Plan DTPS-3
              </h1>
            </div>
</a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:FP-Plan-DTPS-3' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                FP Plan DTPS-3
              </h1>
            </div>
</a>
          </div>


          <div class="mt-8">
            <a href="{% url 'download:Notification-DTPS-3' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Notification DTPS-3
              </h1>
            </div>
          </a>
          </div>





        </div>
      </div>
    </div>

    <!-- seventh -->

    <!-- <div>
      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">


        <div class="flex flex-row items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            Sactioned DTPS 4-5-6
          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          
          <div>
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                OP FP Plan DTPS-4
              </h1>
            </div>

          </div>



          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                FP Plan DTPS-4
              </h1>
            </div>

          </div>


          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Notification DTPS-4
              </h1>
            </div>

          </div>


          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                OP FP Plan DTPS-5
              </h1>
            </div>

          </div>


          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                FP Plan DTPS-5
              </h1>
            </div>

          </div>



          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class="font-bold text-purple-950 ">
                Notification DTPS-5
              </h1>
            </div>

          </div>


          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                OP FP Plan DTPS-6
              </h1>
            </div>

          </div>


          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                FP Plan DTPS-6
              </h1>
            </div>

          </div>


          <div class="mt-8">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                Notification DTPS-6
              </h1>
            </div>

          </div>





        </div>
      </div>
    </div> -->

    <!-- eight -->

    <div>


      <div class="border-2 shadow-lg border-purple-900 p-5 rounded-md">
        <div class="flex flex-row  items-center gap-3">
          <div class="">
            <img style="width: 3rem; height: 3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
          </div>
          <h1 class="text-2xl font-bold text-purple-950 underline">
            SIR Act 2009

          </h1>
        </div>

        <div class="mt-10 px-5 text-xl max-sm:text-base">
          <div>
            <a href="{% url 'download:SIR-ACT-2009' %}" target="_blank" rel="noopener noreferrer">
            <div class="flex flex-row items-center gap-4">
              <div class="">
                <img style="width: 2rem; height: 2rem;" src="{% static 'images\Download page\pdf_icon.png' %}" alt="">
              </div>
              <h1 class=" font-bold text-purple-950 ">
                The Special Investment Region (SIR) Act – 2009
              </h1>
            </div>
          </a>
          </div>
      </div>


    </div>





  </div>





</div>





{% endblock content %}