{% extends 'core/base.html' %}
{% load static %}

{% block title %}

Airport | Dholera Metro City

{% endblock title %}

{% block content %}



<div>
  <div>
    <img id="myImage" class="w-full  h-36" src="" alt="">
  </div>

  <script>
    function changeImage() {
      var image = document.getElementById("myImage");
      if (window.innerWidth < 700) {
        image.src = "{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-international-airport-header-m.jpg' %}"; // Replace with the path to the new image
      } else {
        image.src = "{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\dholera-international-airport-header.jpg' %}"; // Replace with the original image path
      }
    }

    window.addEventListener("load", changeImage);
    window.addEventListener("resize", changeImage);
  </script>
  </script>

</div>


<section class="mt-3 px-5">

  <div class="flex flex-wrap max-sm:gap-4 gap-10">
    <div class="mt-5 flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" font-bold text-gray-600">Details</p>
    </div>

    <div class="mt-5 flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" font-bold text-gray-600">News</p>
    </div>

    <div class="mt-5 flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" font-bold text-gray-600">Blogs</p>
    </div>

    <div class="mt-5 flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" font-bold text-gray-600">Photos</p>
    </div>
  </div>

</section>


<section class="mt-8">
  <div class="bg-green-300 py-3 text-center text-black font-semibold text-xl">
    <h1>Details of Dholera New International Airport</h1>
  </div>

  <div class="mt-6 flex justify-center items-center align-middle">
    <video width="98%" class="rounded-2xl shadow-2xl" controls loop allowfullscreen>
      <source src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\Dholera-Airport.mp4' %}" type="video/mp4">

    </video>
  </div>

</section>


<section class="mt-8 py-6 px-4">
  <div style="letter-spacing: 0.4px;" class="flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">

    <p>The Dholera Airport is planned to be located in the North of the DSIR. The Dholera International Airport is envisaged to cater to not only DSIR and its hinterland, but also to traffic overflow from Ahmadabad international airport.</p>

    <p>
      Total area identified for Airport development is 1426 hectares. The airport is slated to have two runways capable of handling wide-bodied long-haul aircrafts such as the A380.

    </p>

    <p>
      The existing airport of Ahmedabad has emerged as one with highest annual growth in traffic and will get saturated much before the year 2020. The expansion of Ahmedabad airport is difficult due to various reasons. Under the circumstances, a new international airport is required to cater the future traffic.

    </p>

    <p>

      While assessing the potential and requirements of the Dholera SIR, Government envisaged a tremendous need for a Greenfield International Airport in its vicinity. The level of economic activities in the SIR backed by enormous domestic and foreign investment shall need a world class modern International Airport in this region. Therefore state has included the development of an International Airport in the list of “Early Bird Projects” in consultation with Department of Industrial Promotion and Policy. GoG has also signed an MoU with the Delhi Metro Industrial Corridor Development Company in this regard.
    </p>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">1426 hectors of land selected at Vill Navagam Ta. Dholera, Dist Ahmedabad for the Airport.</p>
    </div>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Airports Authority of India (AAI) has prepared the Feasibility Report.</p>
    </div>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Ministry of Defence has issued No Objection Certificate (NOC) for construction of Airport.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Ministry of Civil Aviation has granted the Site Clearance Approval.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">AAI has prepared the DPT and undertaken the EIA Study of the project.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">The site can accommodate two runways of 2900 m and 4000 m.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">DIACL has applied for getting In-Principle Approval from the Ministry of Civil Aviation, Gol.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Delhi Mumbai Industrial Corridor Corporation Ltd. has been offered equity in DIACL.</p>
    </div>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">The measurement and demarcation of the site is carried out by District Inspector of Land Records.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Stone pegs are placed on 182 peripheral boundary points.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Japan International Cooperation Agency (JICA) is preparing Detail Project Survey (DPS).</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">The Project will be developed in PPP Mode adhering to the guidelines of the Greenfield Airport Policy of Gol.</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">New International Airport on the Northern tip, 1 Kms away of SIR</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">9200 hectors Government land reserved by State Govt of Gujarat</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">DPR under preparation by Airport Authority of India</p>
    </div>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Site Suitability estabilished by Airport Authority of India</p>
    </div>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">100 Crore SPV has been formed by GoG</p>
    </div>


    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Cargo as well as passenger Airport facility will be available</p>
    </div>

    <div class=" flex flex-row gap-2 items-center">
      <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
      <p class=" ">Recently Principal Approval by Govt. Of India.</p>
    </div>
  </div>



  <div class="mt-10">


    <div class="flex flex-row items-center  gap-3">
      <div class="w-auto">
        <img style="width: auto; height: 2.3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
      </div>
      <div>

        <h1 class="text-2xl max-sm:text-xl font-bold text-violet-900">
          Aviation Scenario in India

        </h1>

      </div>
    </div>

    <div style="letter-spacing: 0.4px;" class="mt-8 flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">



      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">World’s Ninth Largest Civil Aviation Market</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Passenger Traffic 160 million (2013)</p>
      </div>

      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Ranked 4th in the world in terms of Domestic Passenger volume 116.3m (2013)</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Domestic Freight Traffic 1.4 MT, International 0.8 MT (2013)
        </p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Total Aircraft Movement 1.48 million (2013)</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Number of operating Airports 125(2013)</p>
      </div>



      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Passenger handing capacity at Airports 233 million (2012)</p>
      </div>



      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Bilateral Air Service Agreement with 104 countries</p>
      </div>
    </div>
  </div>


  <div class="mt-10">


    <div class="flex flex-row items-center  gap-3">
      <div class="w-auto">
        <img style="width: auto; height: 2.3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
      </div>
      <div>

        <h1 class="text-2xl max-sm:text-xl font-bold text-violet-900">
          Future Aviation Growth – India

        </h1>

      </div>
    </div>

    <div style="letter-spacing: 0.4px;" class="mt-8 flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">



      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Expected to be Third Largest Aviation Market by 2020</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Middle income population is forecasted to grow 267m (2016) from 160m (2011)</p>
      </div>

      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Travel & Tourism Industry is estimated to grow US$ 270 billion (2023) from US$ 119 billion (2012)</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Use of Advanced Air Navigation Technology (Project GAGAN)
        </p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Plan to develop 100 Low Cost Airports in Tier II & Tire III cities</p>
      </div>

    </div>
  </div>



  <div class="mt-10">


    <div class="flex flex-row items-center  gap-3">
      <div class="w-auto">
        <img style="width: auto; height: 2.3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
      </div>
      <div>

        <h1 class="text-2xl max-sm:text-xl font-bold text-violet-900">
          Govt. Policy initiatives support for aviation

        </h1>

      </div>
    </div>

    <div style="letter-spacing: 0.4px;" class="mt-8 flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">



      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">100% FDI for Greenfield airport</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">100% FDI for existing airports with an approval through FIPB</p>
      </div>

      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">49% FDI in aviation for Foreign Carriers</p>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
        <p class=" ">Increased traffic rights through Open Sky Policy
        </p>
      </div>


    </div>
  </div>


  <div class="mt-10">


    <div class="flex flex-row items-center  gap-3">
      <div class="w-auto">
        <img style="width: auto; height: 2.3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
      </div>
      <div>

        <h1 class="text-2xl max-sm:text-xl font-bold text-violet-900">
          Scenario

        </h1>

      </div>
    </div>

    <div style="letter-spacing: 0.4px;" class="mt-8 flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">



      <div class=" flex flex-row gap-2 items-center">
        <h1>Gujarat has been the corporate face of India that houses most of the major industries of India, large numbers of SMES and multinational companies. It has set up a number of vibrant Industrial Clusters, Industrial Estates and SEZs.</h1>
      </div>


      <div class=" flex flex-row gap-2 items-center">
        <h1>Gujarat Infrastructure Development Board (GIDB) is a modal agency to spur the growth of the infrastructure in the state by way of facilitating large number of projects in Public Private Partnership mode through enabling legal and institutional frame work.</h1>
      </div>

      <div class=" flex flex-row gap-2 items-center">
        <h1>
          GIDB has envisaged the need of an International Airport following the ambitious planning of Government of India to set up a Dedicated Freight Corridor (DFC) and Delhi-Mumbai Industrial Corridor (DMIC).The Dholera Special Investment Region (SIR) falling in DMIC corridor will be the global hub of economic activities with world class infrastructure and premium civic facilities.


        </h1>
      </div>




    </div>
  </div>



  <div class="mt-10">


    <div class="flex flex-row items-center  gap-3">
      <div class="w-auto">
        <img style="width: auto; height: 2.3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
      </div>
      <div>

        <h1 class="text-2xl max-sm:text-xl font-bold text-violet-900">
          Dholera Airport

        </h1>

      </div>
    </div>

    <div style="letter-spacing: 0.4px;" class="mt-8 flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">



      <div class=" flex flex-row gap-2 items-center">
        <h1>The Proposed Dholera International Airport Project would serve the logistic requirement of upcoming Dholera SIR besides handling the spill over traffic from existing Ahmedbad Airport in future. The proposed airport will propel an airport led economic growth in the entire region in line with other Aerotropolis worldwide.</h1>
      </div>

    </div>
  </div>




  <div class="mt-10">


    <div class="flex flex-row items-center  gap-3">
      <div class="w-auto">
        <img style="width: auto; height: 2.3rem;" src="{% static 'images\Download page\arrow-right-icon.png' %}" alt="">
      </div>
      <div>

        <h1 class="text-2xl max-sm:text-xl font-bold text-violet-900">
          DIACL:

        </h1>

      </div>
    </div>

    <div style="letter-spacing: 0.4px;" class="mt-8 flex flex-col gap-8 text-gray-600  font-semibold leading-5 ">



      <div class=" flex flex-row items-center">
        <h1>
          Government of Gujarat has formed Dholera International Airport Company Ltd. (DIACL) to facilitate the project. DIACL shall obtain necessary approvals from Central/State government. In addition to various studies and surveys, the Company will also develop basic infrastructure. Later, private developer will be selected through open competitive bidding route.</h1>
      </div>


      <div class="mt-7">

        <div class="max-md:flex max-md:flex-col">

          <!--  -->
          <div class=" float-right m-[10px]">
            <div class="float-right">
              <img class="border-2 border-black shadow-xl rounded-2xl" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\dholera-airport.jpg' %}" alt="">
            </div>

          </div>

          <picture aria-placeholder="move"></picture>

          <div class=" flex flex-col md:gap-4">


            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">1) RUNWAY 4000 M</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">1A) RUNWAY 2910 M</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">2) PARALLEL TAXIWAY</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">3) PASSENGER TERMINAL BUILDING</p>
            </div>


            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">4) CARGO TERMINAL</p>
            </div>


            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">5) APRON CARGO</p>
            </div>


            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">6) APRON – PASSENGER AIRCRAFT</p>
            </div>



            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">7) CAR PARK</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">8) HOTEL & CONVETION CENTRE</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">9) ISOLATION BAY</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">10) COOLING PIT</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">11) DVOR</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">12) AIRPORT APPROACH ROAD</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">13) PERIMETER ROAD</p>
            </div>

            <div class="mt-5 flex flex-row gap-2 items-center">
              <img style="height: 1.2rem; margin-top: 3px;" src="{% static 'dholeraSir-images\arw.jpg' %}" alt="">
              <p class=" font-bold text-gray-600">14) GREEN BELT</p>
            </div>

          </div>



        </div>
      </div>
    </div>
  </div>





</section>


<section class="mt-16">

  <div class="bg-green-300 py-3 text-center text-black font-semibold text-xl">
    <h1>News Update -Dholera International Airport</h1>
  </div>

  <div class="mt-10 px-16 max-sm:px-3 flex flex-grow flex-wrap gap-5 flex-1">

    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news-25-07-18-1.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Gujarat : Joint Venture for Dholera airport likely to take-off in a month</h1>
        <p class="text-sm  mt-2 font-bold text-red-600">18th Aug 2018 | Source by www.dnaindia.com/</p>

        <p class="mt-7">Complications to avail land near city airport for construction of parallel runway has compelled Airports Authority of India (AAI) to form a joint venture with the Dholera authorities. The joint venture, likely to be formed by this week or early next week............<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>


    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news-25-07-18-1.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">AAI may close deal with Gujarat for Dholera airport by mid-Aug</h1>
        <p class="text-sm  mt-2 font-bold text-red-600"> 25th July 2018 | Source by www.economictimes.indiatimes.com/</p>

        <p class="mt-7">The Airports Authority of India (AAI) is likely to finalise a deal with the Gujarat government by next month for the proposed Rs 2,000 crore Dholera airport, a senior state official said. "We have already sent the proposal to...........<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>




    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news-25-07-18-1.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">AAI may partner Gujarat government for Dholera Airport Project</h1>
        <p class="text-sm  mt-2 font-bold text-red-600"> 13th July 2018 | Source by www.economictimes.indiatimes.com/</p>

        <p class="mt-7">The Airport Authority of India (AAI) is likely to partner with the government of Gujarat to build the Rs 2,000 crore Dholera airport project. Equity participation between AAI and government of Gujarat will be 51% and 49%, respectively......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>



    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news-25-07-18-1.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Work to start on international airport in Dholera in 2019</h1>
        <p class="text-sm  mt-2 font-bold text-red-600"> 21th May 2018 | Source by www.timesofindia.indiatimes.com/</p>

        <p class="mt-7">After more than a decade’s talks and discussions, finally, the state government is taking concrete steps to realize the news Dholera international airport project, which will be named the New ahmedabad Airport. The state government is in the......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>




    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news-25-07-18-1.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Centre okays Rs 50,000 crore for developing Purandar and five other greenfield airports</h1>
        <p class="text-sm  mt-2 font-bold text-red-600">4th May 2018 | Source by www.hindustantimes.com/</p>

        <p class="mt-7">Days after the Centre approved the last site clearances for the proposed Purandar international airport near Pune, the central government has now announced that it will invest in it. The central government, on Wednesday, announced that it will invest..............<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>



    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news14.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Dholera airport can become aerospace industry's focal point of development: Sinha</h1>
        <p class="text-sm  mt-2 font-bold text-red-600">14th July 2017 | Source by www.outlookindia.com/</p>

        <p class="mt-7">Jul 14 Union minister Jayant Sinha today said the upcoming international airport at Dholera near here, could become a focal point of development of the country's aerospace industry and would be important not only for civilian aviation, but also for defence purposes..........<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>




    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news50.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">The greenfield airport at Dholera should finish by 2020</h1>
        <p class="text-sm  mt-2 font-bold text-red-600">13th June 2016 | Source by www.businessworld.in/</p>

        <p class="mt-7">The upcoming smart city at Dholera Special Investment Region (SIR) in Gujarat will become operational by 2019 with several industrial units and population of around 1 lakh people living in it, the state government said today.......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>




    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news10.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Experts to bid for Dholera airport DPR</h1>
        <p class="text-sm mt-2  font-bold text-red-600"> 8th June 2016 | Source by www.timesofindia.indiatimes.com</p>

        <p class="mt-7">The dream of an international airport at Dholera is on a fast track to reality. The project received environment clearance in December 2015. Now, the Delhi-Mumbai Industrial Corridor Development Corporation (DMICDC) has invited proposals from experts to........<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>



    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news11.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Civil Aviation Ministry Gives Clearance For 4 Greenfield Airports </h1>
        <p class="text-sm  mt-2 font-bold text-red-600">29 Dec 2015 | Source by www.ndtv.com</p>

        <p class="mt-7">The Civil Aviation Ministry has given clearance for four greenfield airports including the Rs. 1,378 crore international airport at Dholera in Gujarat, which is expected to reduce air traffic load at the existing Ahmedabad airport......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>



    <div class="p-2 border-2 rounded-xl border-blue-900 ">
      <div class=" float-left m-[5px]">
        <img class="" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\news12.jpg' %}" alt="">
      </div>

      <div>
        <h1 class="text-base font-bold text-blue-900">Gujarat's Dholera airport project gets environmental clearance </h1>
        <p class="mt-2 text-sm font-bold text-red-600"> 3 Dec 2015 | Source by www.indiatimes.com
        </p>

        <p class="mt-7">Gujarat government's ambitious Dholera airport project at Navagam village near the city has received environmental clearance from the Centre. The Central Forest, Environment and Climate Change department has communicated the same.......<span class="float-right mt-2 p-[0.65rem] py-2 bg-orange-500 text-white text-sm font-semibold rounded-lg">Read More</span></p>
      </div>

    </div>


  </div>



  <div class="mt-16 ">


    <div class="bg-green-300 py-3 text-center text-black font-semibold text-xl">
      <h1>Blogs -Dholera International Airport</h1>
    </div>


    <div class="px-16 py-4 mt-10">

      <div class="border-2 border-spacing-14 border-dotted h-auto border-blue-950 p-7">

        <div class="pb-4 float-left m-[5px] mr-10">
          <img class="lg:h-[20rem] shadow-lg border shadow-yellow-50" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport-dholera-metro-city.jpg' %}" alt="">
        </div>

        <div style="letter-spacing: 0.4px;" class="text-base text-gray-500 leading-8">
          <h1 class="text-xl font-semibold text-blue-700">
            Dholera International Airport at a Glance
          </h1>

          <p class="mt-8"><span class="font-bold text-gray-700">Posted 2016-09-28 by DMC /
            </span> <br>Gujarat shall soon have two international airports; the first being in Ahmedabad and the second one being Dholera international airport which is in the making.</p>

          <p class="mt-8">Ahmedabad airport shall soon reach its peak with the increasing number of passengers availing the facility. As per projections, the airport shall reach its saturation point by 2020. Due to the constraints faced in extending the facility further, the pressing need for another international airport close by was felt. This led to
            the emergence of Dholera international airport which is expected to be ready for use by 2020. </p>

          <style>
            .hiddens {
              height: 0;
              opacity: 0;
              visibility: hidden;
              overflow: hidden;
              transition: opacity 0.3s ease-in-out;
            }

            .visible {
              height: auto;
              opacity: 1;
              visibility: visible;
              transition: opacity 0.3s ease-in-out;
            }
          </style>

          <div id="content" class="hiddens">


            <p class="mt-5">

              Dholera international airport was also approved in order to develop Dholeraas a self-sustainable city. Massive growth projections has been made for the smart citywhichis being planned six times the size of Shanghai. It is being anticipated that Dholera shall become a leading global trading and manufacturing hub and shall witness a continual rise in economic activities. In order to support the regions? progress, it was imperative for it to have an airport nearby. </p>
            <p class="mt-5">
              Dholera international airport is strategically located to meet the travel needs of both Dholera and Ahmedabad passengers. Located 20 Kms from Dholera and 80 Kms from Ahmedabad, the facility is also expected to carry passengers to and fro form neighboring towns and villages. 1,700 hectares of land has been reserved for the facility in the name of Gujarat Industrial Corridor Company Ltd (GICC) in the villages of Pipli, Paccham and Valinda for development of the project. The airport has been included in Early Bird project list of government which means that the project shall be fast tracked and completed without delays.</p>
            <p class="mt-5">
              Dholera international airport shall be built extensively to accommodate 1,200 Indian and international passengers within the facility at one point of time. This ambitious project shall have two runways and is being built with state of art infrastructure and world class amenities. The project cost is estimated to be Rs. 1,378 crore, majority of which shall be pooled in by various sources in form of Public-Private Partnership and foreign investments. The project shall be developed by Dholera International Airport Company Ltd (DIACL) which is a Special Purpose Vehicle (SPV) specifically formed to oversee the airport's progress.</p>
            <p class="mt-5">
              While Dholera International Airport shall provide vital linkage to the world, other transit options are also available in the city. A high class urban transport mechanism is being developed in form of high speed metro rail which shall connect Dholera to all important points in the city and also to Ahmedabad and Gandhinagar. 6 lane expressway is also in the making connecting the smart city to Bhavnagar and Ahmedabad. The city shall also be connected via rail and port.
            </p>
            <p class="mt-5">
              Apart from other economic reasons, Dholera international airport shall be instrumental in attracting foreign investments in the city
            </p>
          </div>

          <p id="content-toggle" class="float-right text-black text-lg font-semibold hover:text-red-600 underline cursor-pointer">Read More</p>
        </div>

        <script>
          var content = document.getElementById('content');

          var toggleContent = document.getElementById('content-toggle')
          var isContentVisible = false;


          toggleContent.addEventListener("click", function() {
            if (isContentVisible) {
              content.classList.remove("visible");
              content.classList.add("hiddens");
              toggleContent.textContent = "Read More";
              isContentVisible = false;
            } else {
              content.classList.remove("hiddens");
              content.classList.add("visible");
              toggleContent.textContent = "Less View";
              isContentVisible = true;
            }
          });
        </script>

      </div>

    </div>


  </div>



  <div class="mt-10 ">
    <div class="bg-green-300 py-3 text-center text-black font-semibold text-xl">
      <h1>Blogs -Dholera International Airport</h1>
    </div>


    <!-- <div class="mt-10 px-16 flex flex-initial justify-center items-center flex-row flex-grow gap-7"> -->
    <div class="mt-10 px-16 grid grid-cols-3 gap-6 max-md:grid-cols-2 max-sm:grid-cols-1 justify-center items-center">




      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-1.jpg' %}" alt="">



      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-3.jpg' %}" alt="">



      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-4.jpg' %}" alt="">



      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-5.jpg' %}" alt="">



      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-6.jpg' %}" alt="">




      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-7.jpg' %}" alt="">



      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-8.jpeg' %}" alt="">



      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-9.jpg' %}" alt="">


      <img style="border: 3.5px dotted orange; " class="h-[20rem] shadow-lg rounded-lg border-orange-400" src="{% static 'dholeraSir-images\DholeraSir-projects\dholera-international-airport\airport\dholera-airport-10.jpg' %}" alt="">



    </div>

  </div>

</section>





{% endblock content %}